{% extends "layout.html" %}

{% block body %}

<h3>Training</h3>
<div class="jumbotron ">

        <div class="row">
                <div class="col-lg-4">
                <img class="rounded-circle" src="../media/crossfit.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Crossfit</h2>
                <p>Training descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                <img class="rounded-circle" src="../media/plates.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Plates</h2>
                <p>Training descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                <img class="rounded-circle" src="../media/dumbelll.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Fitness</h2>
                <p>Training descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
         </div>        
</div>

<h3>Studio</h3>
<div class="jumbotron ">

        <div class="row">
                <div class="col-lg-4">
                <img class="rounded-circle" src="../media/gym1.jpeg" alt="Generic placeholder image" width="140" height="140">
                <h2>Studio</h2>
                <p>Studio descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                <img class="rounded-circle" src="../media/gym2.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Studio</h2>
                <p>Studio descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                <img class="rounded-circle" src="../media/gym3.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Studio</h2>
                <p>Studio descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
         </div>        
</div>

<h3>Trainer</h3>
<div class="jumbotron ">

        <div class="row">
                <div class="col-lg-4">
                <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
                <h2>Trainer</h2>
                <p>Trainer descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
                <h2>Trainer</h2>
                <p>Trainer descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
                <h2>Trainer</h2>
                <p>Trainer descriptions</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
         </div>        
</div>

{% endblock body %}